*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #63BDF7;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #f3f3f3;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #f3f3f3;
}

.demo {
  position: absolute;
  left: 50%;
  top: 5em;
  width: 100%;
  max-width: 40rem;
  margin-left: -25rem;
  background: #F6F6F5;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.content {
  overflow: hidden;
  position: relative;
  height: 48rem;
  padding-top: 1rem;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.card-cont {
  position: relative;
  width: 100%;
  max-width: 39rem;
  height: 32rem;
  margin: 0 auto 1rem;
}
.card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: 50% 100%;
}
.card.reset {
  transition: transform 0.3s;
  transform: translateX(0) !important;
}
.card.reset .card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.card.inactive {
  transition: transform 0.3s;
}
.card.to-left {
  transform: translateX(-30rem) rotate(-30deg) !important;
}
.card.to-right {
  transform: translate(30rem) rotate(30deg) !important;
}
.card.below {
  z-index: 1;
}
.card__top {
  height: 20.5rem;
  padding-top: 4rem;
}
.card__top.purple {
  background: #7132B9;
}
.card__top.blue {
  background: #248CB6;
}
.card__top.indigo {
  background: #303F9F;
}
.card__top.cyan {
  background: #26C6DA;
}
.card__top.lime {
  background: #AFB42B;
}
.card__top.brown {
  background: #795548;
}

.card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.card__we {
  text-align: center;
  font-size: 2.2rem;
  line-height: 11.5rem;
}
.card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.card__choice.m--next {
  background: #414141;
}

.card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.tip {
  text-align: center;
  font-size: 2.2rem;
}